.newTask {
    border-top: 1px solid #1e1e1e;
    border-bottom: 1px solid #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.newTask button{
    background-color: #1e1e1e;
    border: none;
    font-size: 18px;
    color: #d9d9d9;
    border-radius: 25px;
    padding: 5px 15px;
}

.newTask button:hover {
    color: #BC103A;
}