.commentsList {
    width: 95%;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}

.commentsList::-webkit-scrollbar {
    width: 6px; /* largura da barra de rolagem */
}

.commentsList::-webkit-scrollbar-thumb {
    background-color: #888; /* cor do polegar da barra de rolagem */
    border-radius: 6px; /* borda arredondada do polegar */
}

.commentsList::-webkit-scrollbar-track {
    background-color: none /* cor da pista da barra de rolagem */
}

.commentsList::-moz-scrollbar {
    width: 6px; /* largura da barra de rolagem */
}

.commentsList::-moz-scrollbar-thumb {
    background-color: #888; /* cor do polegar da barra de rolagem */
    border-radius: 6px; /* borda arredondada do polegar */
}

.commentsList::-moz-scrollbar-track {
    background-color: #f1f1f1; /* cor da pista da barra de rolagem */
}
