.tableHead {
    width: 100%;
}

.tableHead table {
    width: 100%;
    border-spacing: 0;
    display: grid;
    border: 0;
}

.newTaskField {
    height: 2em;
    border-top: 1px solid #1e1e1e;
    display: flex;
    align-items: center;
}