.closeBt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeBt button {
    background-image: url('/public/img/cross.png');
    background-color: inherit;
    background-size: cover;
    width: 36px;
    height: 36px;
    border: none;
    margin-left: 10px;
    margin-right: 3em;
} 

.closeBt button:hover {
    cursor: pointer;
}