.options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.options button {
    background-image: url('/public/img/options.png');
    background-color: inherit;
    background-size: cover;
    width: 36px;
    height: 36px;
    border: none;
    margin-left: 10px;
    margin-right: 3em;
    transform: rotate(90deg);
}

.options div {
    display: flex;
    align-items: center;
}

.options div>* {
    margin-left: 10px;
}