.redButton {
    width: 35%;
    height: 20%;
    border-radius: 50px;
    background-color: #BC103A;
    color: white;
    font-size: 28px;
    font-weight: bold;
    border: none;
    margin-top: 2em;
    user-select: none;
}