.textInput {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #1e1e1e;
    width: 70%;
    height: 20%;
    border-radius: 50px;
    font-size: 24px;
    margin-top: 1.5em;
    padding-left: 35px;
    border: none;
    color: white;
}