.newTaskField {
    display: flex;
    justify-content: left;
    width: 100%;
}

.newTaskField input {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    color: #d9d9d9;
    margin-left: 1em;
    font-size: 14px;
}

.newTaskField input:focus {
    background: none;
    outline: none;
}